<form method="post" action="/BearAndBadger/<%= @book.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @book.name %>"
  />

  <label for="author-field">Author:</label>
  <input
  type="text"
  name="author"
  id="author-field"
  value="<%= @book.author %>"
  />

  <label for="publisher-selection">Select a publisher:</label>
  <select name="publisher_id" id="publisher-selection">
    <option
    value="Penguin"
    <%= "selected" if @book.publisher_id == 1 %>
    >Penguin</option>
    <option
    value="Macmillan"
    <%= "selected" if @book.publisher_id == 2 %>
    >Macmillan</option>
  </select>
  
   <label for="genre-selection">Select a genre:</label>
  <select name="genre_id" id="genre-selection">
    <option
    value="Romance"
    <%= "selected" if @book.genre_id == 1 %>
    >Romance</option>
    <option
    value="Horror"
    <%= "selected" if @book.genre_id == 2 %>
    >Horror</option>
    <option
    value="Sci-Fi"
    <%= "selected" if @book.genre_id == 2 %>
    >Sci-Fi</option>
    <option
    value="Mystery"
    <%= "selected" if @book.genre_id == 2 %>
    >Mystery</option>
    <option
    value="Fantasy"
    <%= "selected" if @book.genre_id == 2 %>
    >Fantasy</option>
    <option
    value="Biography"
    <%= "selected" if @book.genre_id == 2 %>
    >Biography</option>
  </select>

  <label for="price-field">Price:</label>
  <input
  type="number"
  name="price"
  id="price-field"
  value="<%= @book.price() %>"
  />

  <label for="stock-field">Stock:</label>
  <input
  type="number"
  name="stock"
  id="stock-field"
  value="<%= @book.stock() %>"
  />

  <input type='submit' value="Edit book">
</form>
