
<table id="t01">
  <tr>
    <th><%= @genres.name %></th>

  </tr>
  <tr>
    <td>ID:<%= @genres.id %></td>
    <td><a href="/BearAndBadger/genres/<%= @genres.id %>/edit-genre">Edit</a> >>> </td>

  </tr>
</table>

<table id="t03">
<tr>
<% @books.each do |book| %>
  <%if book.genre_id == @genres.id%>
  <th> <%= book.name %> </th>
  <td><a href="/BearAndBadger/books/<%= book.id %>">Show book</a></td>
  
<% end %>
</tr>

<% end %>
<span style="background-color: lightblue"><a href="/BearAndBadger/genres/<%= @genres.id %>/edit-genre">Edit</a>
</span>
<form action="/BearAndBadger/genres/<%= @genres.id %>/delete" method="POST"><input type="submit" value="Delete"></form>