
<table id="t01">
  <tr>
    <th><%= @publishers.name %></th>
    <th><a href="/BearAndBadger/publishers/<%= @publishers.id %>/edit-publisher">Edit</a></th>

  </tr>
  <tr>
    <td>ID:<%= @publishers.id %></td>
    <td> </td>
  </tr>
</table>
<table id="t03">
<tr>

<% @books.each do |book| %>
  <%if book.publisher_id == @publishers.id%>
  <th> <%= book.name %> </th>
  <td><a href="/BearAndBadger/books/<%= book.id %>">Show book</a></td>
  <% end %>

  </tr>
<% end %>



<form action="/BearAndBadger/publishers/<%= @publishers.id %>/delete" method="POST"><input type="submit" value="Delete"></form>