<p>Name: <%= @book.name %></p>
<p>Author: <%= @book.author %></p>
<p>Publisher: <%= @book.publisher_id %></p>
<p>Genre: <%= @book.genre_id %></p>
<p>Price: <%= @book.price %></p>
<p>Stock: <%= @book.stock %></p>

<p><a href="/BearAndBadger/<%= @book.id %>/edit">Edit book</a></p>
<form method="post" action="/BearAndBadger/<%= @book.id %>/delete">
  <input type="submit" value="Delete book"/>
</form>
