<table id="t02">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Buying Cost</th>
    <th>Markup</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Publisher</th>
    <th>Genre</th>
   
  </tr>
  <tr>

    <td><%= @book.name %></td>
    <td><%= @book.author %></td>
    <td>£<%= @book.buying_cost %></td>
    <td>£<%= (@book.buying_cost - @book.price).abs %></td>
    <td>£<%= @book.price %></td>
    <td><%= @book.stock %></td>
    <td><a href="/BearAndBadger/publishers/<%= @book.publisher_id %>"><%= Publisher.find(@book.publisher_id).name %></a>
    <td><a href="/BearAndBadger/genres/<%= @book.genre_id %>"><%= Genre.find(@book.genre_id).name %></a>
    <td><a href="/BearAndBadger/books/<%= @book.id %>/edit">Edit</a>
>
  </tr>
   
 
</table>
<table id="t01">
  <tr>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @book.description %></td>
  </tr>
</table>


<form action="/BearAndBadger/books/<%= @book.id %>/delete" method="POST"><input type="submit" value="Delete"></form>